h1 {
  border-bottom: 1px solid $text_color;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
h2 {
  border-bottom: 1px solid $text_color;
  font-size: 1.3125rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
