.back {
  background-color: #d9d9d9;
  color: black;
}
<<<<<<< HEAD
=======

>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
.back h1 {
  color: black;
  border-color: black;
}
.back h2,
.back h3,
.back h4,
.back p {
  color: black;
}
<<<<<<< HEAD
=======

>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
.back button {
  background-color: #d9d9d9;
  color: black;
  border-color: black;
<<<<<<< HEAD
=======

>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
  &:hover {
    background-color: black;
    color: #d9d9d9;
    border-color: black;
  }
}
<<<<<<< HEAD
=======

>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
.back .candidature .votes .voter .voter_pour i,
.back .candidature .votes .voter .voter_contre i {
  color: black;
}
<<<<<<< HEAD
.back .candidature {
  border-color: black;
}
button.back:hover {
  border-color: $text_color;
}
.back .candidature .votes .voter button {
  background-color: #d9d9d9;
}
=======

.back .candidature {
  border-color: black;
}

button.back:hover {
  border-color: $text_color;
}

.back .candidature .votes .voter button {
  background-color: #d9d9d9;
}

>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
.back #utilisateurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
<<<<<<< HEAD
=======

>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
.back #utilisateurs .utilisateur {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
<<<<<<< HEAD
  padding: 1rem;
}
.back #utilisateurs .utilisateur form {
  margin: 0.5rem 0;
}
=======
  padding: 16px;
}

.back #utilisateurs .utilisateur form {
  margin: 8px 0;
}

>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
@media screen and (min-width: 768px) {
  .back #utilisateurs .utilisateur {
    width: 14%;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 340cd16746a54d114a0aa8a8ed9e9d38412750c1
