#connexion {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  text-align: center;
}

#connexion h1 {
  border-bottom: none;
  border-top: 1px solid $text_color;
  padding-top: 32px;
  margin-top: 16px;
}

#connexion p.inscription {
  margin-top: 8px;
  margin-bottom: 16px;
}

#connexion a.inscription {
  border: 1px solid $text_color;
  padding: 8px;
  margin: 0 0 4px;
  border-radius: 5px;
}

#connexion a.inscription:hover {
  color: $hover;
  text-decoration: underline;
  border-color: $hover;
}