#connexion {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#connexion h1 {
  border-bottom: none;
  border-top: 1px solid $text_color;
  padding-top: 2rem;
  margin-top: 1rem;
}

#connexion form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

#connexion p.inscription {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#connexion a.inscription {
  border: 1px solid $text_color;
  padding: 0.5rem;
  margin: 0 0 0.25rem;
  border-radius: 5px;
}

#connexion a.inscription:hover {
  color: $hover;
  text-decoration: underline;
  border-color: $hover;
}

@media screen and (min-width: 768px) {
  #connexion form {
    align-items: center;
  }
}
